<!DOCTYPE html>
<html>
<head>
    <title>Create API</title>
</head>
<body>
    <h1>Create New API</h1>

    <form method="post">
        <label>App Name:</label><br>
        <input name="app_name" required><br><br>

        <label>App Port:</label><br>
        <input name="app_port" required><br><br>

        <label>Domain Name:</label><br>
        <input name="domain_name" required><br><br>

        <button type="submit">Create API</button>
    </form>

    <br>
    <a href="/">⬅ Back to Home</a>
</body>
</html>

